In [20]:
from bs4 import BeautifulSoup
from selenium import webdriver
import unicodedata
import pandas as pd

In [14]:
driver = webdriver.Chrome()

In [15]:
driver.get("https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States")

In [5]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [6]:
table = soup.find('table', 'wikitable')

In [7]:
rows = table.find_all('tr')[2:]

In [8]:
state_names = []

for i in rows:
    state_names.append(unicodedata.normalize('NFKD', i.find('th').find('a').text).encode('ascii', 'ignore'))
state_names

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [10]:
populations = []

for i in rows:
    populations.append(unicodedata.normalize('NFKD', i.find_all('td')[-4].text).encode('ascii', 'ignore'))
populations

['5,024,279',
 '733,391',
 '7,151,502',
 '3,011,524',
 '39,538,223',
 '5,773,714',
 '3,605,944',
 '989,948',
 '21,538,187',
 '10,711,908',
 '1,455,271',
 '1,839,106',
 '12,812,508',
 '6,785,528',
 '3,190,369',
 '2,937,880',
 '4,505,836',
 '4,657,757',
 '1,362,359',
 '6,177,224',
 '7,029,917',
 '10,077,331',
 '5,706,494',
 '2,961,279',
 '6,154,913',
 '1,084,225',
 '1,961,504',
 '3,104,614',
 '1,377,529',
 '9,288,994',
 '2,117,522',
 '20,201,249',
 '10,439,388',
 '779,094',
 '11,799,448',
 '3,959,353',
 '4,237,256',
 '13,002,700',
 '1,097,379',
 '5,118,425',
 '886,667',
 '6,910,840',
 '29,145,505',
 '3,271,616',
 '643,077',
 '8,631,393',
 '7,705,281',
 '1,793,716',
 '5,893,718',
 '576,851']

In [28]:
data = {
    'State': state_names,
    'Population': populations
}
d = pd.DataFrame(data)
d.to_csv('states_and_populations.csv', index=False)

In [29]:
d

    Population           State
0    5,024,279         Alabama
1      733,391          Alaska
2    7,151,502         Arizona
3    3,011,524        Arkansas
4   39,538,223      California
5    5,773,714        Colorado
6    3,605,944     Connecticut
7      989,948        Delaware
8   21,538,187         Florida
9   10,711,908         Georgia
10   1,455,271          Hawaii
11   1,839,106           Idaho
12  12,812,508        Illinois
13   6,785,528         Indiana
14   3,190,369            Iowa
15   2,937,880          Kansas
16   4,505,836        Kentucky
17   4,657,757       Louisiana
18   1,362,359           Maine
19   6,177,224        Maryland
20   7,029,917   Massachusetts
21  10,077,331        Michigan
22   5,706,494       Minnesota
23   2,961,279     Mississippi
24   6,154,913        Missouri
25   1,084,225         Montana
26   1,961,504        Nebraska
27   3,104,614          Nevada
28   1,377,529   New Hampshire
29   9,288,994      New Jersey
30   2,117,522      New Mexico
31  20,201,249        New York
32  10,439,388  North Carolina
33     779,094    North Dakota
34  11,799,448            Ohio
35   3,959,353        Oklahoma
36   4,237,256          Oregon
37  13,002,700    Pennsylvania
38   1,097,379    Rhode Island
39   5,118,425  South Carolina
40     886,667    South Dakota
41   6,910,840       Tennessee
42  29,145,505           Texas
43   3,271,616            Utah
44     643,077         Vermont
45   8,631,393        Virginia
46   7,705,281      Washington
47   1,793,716   West Virginia
48   5,893,718       Wisconsin
49     576,851         Wyoming

In [17]:
driver.quit()